<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Stream App</title>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="app">
        <header>
            <nav class="navbar navbar-dark bg-primary">
                <h1 class="navbar-brand mb-0">Video Stream</h1>
            </nav>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto pt-4">
                    <h1 class="text-center mb-5">Video Stream Example Nodejs + HTML5</h1>
                    
                    <video controls width="100%" poster="<%= image %>">
                        <source src="http://localhost:3000/video" type="video/mp4">

                        Sorry, your browser doesn't support embedded videos.
                    </video>
                </div>
            </div>
        </div>
    </div>
</body>
</html>